@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}

a { text-decoration: none; }
a:hover {text-decoration: underline;}

#temp-splash {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

#titans-logo {
  width: 100%;
  max-width: 90vw;
  height: auto;
}